#border {
   border: 2px solid #000000;
   margin: 20px 20px 20px 20px; 
   padding-bottom: 30px;
   padding-right: 100px;
   min-height: 550px;
  }
#main { 
   margin: 20px;
   padding-top: 50px;
   padding-left: 70px;  
   padding-right: 30px;   
   padding-bottom: 50px;
}
.head{
   position:absolute;
   left: 500px; 
   top: 60px; 
}

.search{
   position:absolute;
   right: 200px; 
   top: 80px; } 
#table {
   border: 1px solid #ffe4c4;  
   border-collapse: collapse;  
   text-align: left;
   margin-left: 90px;
   }
#table th, td{ b
   order: 1px solid #ffe4c4; 
   padding-right:90px; 
   padding-left: 2px;  
   padding-top: 2px;      
   padding-bottom: 2px;  
}
.glyphicon {
   color: hsl(0, 100%, 50%);
}
.pagination{
   position: absolute;
   right: 200px;
}
.pagination a { 
   padding: 5px;
   border: 1px solid;
   border-radius: 50%; 
}
.pagination a:active{
   background-color: #008000;
   color: #ff0000;    
}
.pagination a:first-child { 
   border:1px solid;
   border-radius: 5px;
}                     
.pagination a:last-child { 
   border:1px solid;
   border-radius: 5px; 
   padding: 1px; }  
